.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  border-right: 1px solid lightgray;
  margin-right: 5px;
  margin-left: 20%;
}

.search-container {
  background-color: rgba(0, 0, 0, 0.87);
  text-align: center;
  line-height: 40px;
}

.search-container input {
  width: 75%;
  font-size: 16px;
  margin: 10px 0;
}
.pagination {
  margin: 30px 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination button {
  padding: 5 15px;
}
.pagination button:hover {
  cursor: pointer;
}

.pagination .selected {
  padding: 6px 16px;
  background-color: orange;
  color: white;
  border-radius: 2px;
  border: 1px solid orange;
}
